body {
  background-color:CadetBlue;
}

h1{
background-color:Black;
text-align: center;
opacity: 0.9;
color:White;
font-size:60px;
}

h2{
color:Black;
font-style: oblique;
font-size: 35px;
}

p{
  color:Black;
  font-stretch: normal;
  font-style: normal;
  font-size: 20px
   
}
ul.nav li{
display: inline-block;
text-align: center;
paddding:10px;
margin: 100px;
width: 80px;
}
ul.nav li a{
  display:inline-block;
  paddding:50px;
  font-size:30px;
  color:black;
  background-color:Snow;
  text-decoration:none;
  
}
ul.nav li a:hover{
  background-color:LightGray;
}
