body {
  background-color:CadetBlue;
}

h1{
background-color:Black;
opacity: 0.9;
color:White;
font-size:60px;
}

h2{
color:Black;
font-style: oblique;
font-size: 35px;
}

p{
  color:Black;
  font-stretch: normal;
  font-style: normal;
  font-size: 30px
  font-family: Palatino Linotype", "Book Antiqua", Palatino, serif; 
}
ul.nav li{
display: block;
paddding:70px;
width: 50px;
}
ul.nav li a{
  display:block;
  paddding:50px;
  font-size:20px;
  color:black;
  background-color:Snow;
  text-decoration:none;
  
}
ul.nav li a:hover{
  background-color:LightGray;
}
