body {
  background-color:Snow;
}

h1{
background-color:Black;
opacity: 0.9;
color:White;
font-size:3em;
}

h2{
color:Black;
font-style: oblique;
font-size: 20px;
}

p{
  color:Blue;
  font-stretch: normal;
  font-style: normal;
  font-family: Palatino Linotype", "Book Antiqua", Palatino, serif; 
  font-weight: 200;
}
  
